
/*#### The Logo ####*/
/*#### Very Old school ####*/

.site-id {
  display: flex;
  z-index: 102;
}

.logo {
  background: #ffffff;
  top : 50%;
  left : 25%;
  z-index: 1;
}

.site-title {
  top : 50%;
  text-align: center;
  margin-left: 0.5em;
}

.menu-toggle{
  display: none;
  margin-top: 4em;
  margin-right: 1em;
  margin-bottom: 2em;
}

.menu-toggle .burger-breads span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    z-index: 1;
}

.menu-close{
  display: none;
  margin-top: 1.5em;
  margin-right: 1em;
}

.menu-close .burger-breads span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
}

.menu-close .burger-breads span:nth-child(2){
    transform: rotate(135deg) translate(-6px, 9px);
}

.menu-close .burger-breads span:nth-child(3){
    opacity: 0;
}

@media (max-width: 842px){
    .menu-toggle {
    display: block;
  }
  .main-menu {
    position: absolute;
    right:-100%;
    top: 0;
    padding-top: 124px;
    z-index: 100;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid white; 
  }
  .main-menu:target {
    right: 0;
  }
  .menu-close {
    z-index: 101;
    display: block;
    position: absolute;
    right : 0;
    top: 129px;
  }
}

/*#### Navigation ####*/

nav li a {
  text-decoration: none;
  display: block;
  font-weight: bold;
}

header nav li a {
  text-align: center;
  color : #ffffff;
  font-size: 2em;
}

header nav li a:hover {
  color : #aaaaaa;
}


/*#### Columns ####*/
/*#### reading ####*/

.main-content {
  color: #ffffff;
  background-color: #000000;
  padding: 10em 1em;
  column-count: 4;
  column-gap: 1em;
}


/*#### Teaser List ####*/
/*#### Homepage ####*/

.teaser-list {
  color: #ffffff;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
}

.product-list-item {
  margin: 1em;
  flex-basis: 21em;
  flex-grow: 1;
}

.product-list-item img {
  width: 100%;
}

.product-list-item a {
  color : #ffffff;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid;
  border-radius: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.product-list-item a:hover {
  color : #aaaaaa;
}

/*### dossier-top Styles ###*/

.dossier-top {
  overflow: hidden;
  min-height: 45em;
  text-align: center;
}

.dossier-top img {
  float : left;
  height: 45em;
  width : 50%;
  object-fit: cover;
}

.dossier-top-content {
  float : right;
  height: 45em;
  width : 50%;
  display: flex;
  padding : 1em 2em;
}

@media (max-width: 915px){
  	.dossier-top img {
		width:100%;
	}
  	.dossier-top-content {
    	width:100%;
  	}
}

.dossier-top-content div {
  background-color: #000000;
  color: #ffffff;
  margin : auto;
}

.dossier-top-content a {
  color : #ffffff;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid;
  border-radius: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.dossier-top-content a:hover {
  color : #aaaaaa;
}

.strip-image {
  margin-bottom: 1em;
}

.strip-image img {
  height: 9em;
  width: 96em;
  object-fit: cover;
}



/*### FOOTER Styles ###*/

footer {
  background: #000000;
  color : #ffffff;
  border-top: 1px solid #ffffff;
}

footer h2 {
  font-size: 2em;
  color : #ffffff;
}

footer a {
  color: #ffffff;
}

/*footer img{
  margin: 1em;
  max-width: 150px;
  animation-duration: 4s;
  animation-name: appearIn;
  transition : all 4s ease;
}


footer:hover img{
  transform: translateX(200px);
}

footer img:after{
  animation-duration: 4s;
  animation-name: appearIn;
  transition : all 4s ease;
}*/

.perso{
  transition : transform 1s ease, border-radius 1s ease;
  border: 1px solid #ffffff;
  overflow:hidden;
  margin: 32px 0 16px 16px;
  width: 150px;
  height: 150px;
}

footer:hover .perso{
  border-radius: 100%;
}

footer .perso:hover{
  animation-duration: 4s;
  animation-name: appearIn;
}

@keyframes appearIn {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}