@import url('https://fonts.googleapis.com/css?family=Anton|Hind&display=swap');


body {
	font-family: 'Hind', sans-serif;
}

p {
	margin-bottom: 20px;
	text-align: justify;
  	text-justify: inter-word;
}

h1, h2, h3, h4, h5, h6 {
	margin: 44px 0 16px;
	font-family: 'Anton', sans-serif;
    color: #ffffff;
}

h1 {
  	font-size: 4em;
	text-align: center;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
	text-align: center;
}

h4 {}

h5 {}
